nav{
    background-color:rgba(27,116,94,0.7);
    padding: 20px 0;
    color:white;
    z-index: 999;
    left: 0%;
    right: 0%;
    position: absolute;
    a{
        color:white;
        margin-left: 20px;
    }
}